
{% extends "base.html" %}
    <h1>User Posts</h1>
    {% block content %}

{% if user.blogs|length == 0 %}
<p>No tasks yet for this user</p>
{% endif %}

        {% for blog in user.blogs %}


        <table>
            <tr style="">
                <td style="border:5px">
                    <a href="blog?id={{blog.id}}"><h2 align="left">{{blog.title}}</h2></a>
                    {{blog.body}}
                    <p> Written by single user <a href="blog?user={{user.username}}">{{user.username}}</a></p>

                </td>
            </tr>
        </table>

        {% endfor %}

    {% endblock %}